<div id="<%= dom_id frame %>">
  <p>
    <strong>Frame number:</strong>
    <%= frame.frame_number %>
  </p>

  <p>
    <strong>Roll number:</strong>
    <%= frame.roll_number %>
  </p>

  <p>
    <strong>Pins down:</strong>
    <%= frame.pins_down %>
  </p>

</div>
